@model Company

@{
    ViewData["Title"] = "Create Company";
}

<div class="card shadow border-0 my-4">
    <div class="card bg-secondary bg-gradient py-3">
        <div class="text-center">
            <h2 class="text-white py-2">
                @(Model.CompanyId != 0 ? "Update" : "Create") Company
            </h2>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data">

            <input asp-for="CompanyId" hidden />

            <div class="border p-3 rounded">

                <div class="form-floating py-2">
                    <input asp-for="CompanyName" class="form-control border-0 shadow" />
                    <label asp-for="CompanyName" class="ms-2"></label>
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>

                <div class="form-floating py-2">
                    <input asp-for="StreetAddress" class="form-control border-0 shadow"/>
                    <label asp-for="StreetAddress" class="ms-2"></label>
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>

                <div class="form-floating py-2">
                    <input asp-for="City" class="form-control border-0 shadow" />
                    <label asp-for="City" class="ms-2"></label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-floating py-2">
                    <input asp-for="State" class="form-control border-0 shadow" />
                    <label asp-for="State" class="ms-2"></label>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="form-floating py-2">
                    <input asp-for="PostalCode" class="form-control border-0 shadow" />
                    <label asp-for="PostalCode" class="ms-2"></label>
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>

                <div class="form-floating py-2">
                    <input asp-for="PhoneNumber" class="form-control border-0 shadow" />
                    <label asp-for="PhoneNumber" class="ms-2"></label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="row pt-3">
                    <div class="col-md-3 col-6">
                        @if (Model.CompanyId != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        }
                    </div>

                    <div class="col-md-3 col-6">
                        <a asp-action="Index" asp-controller="Company"
                           class="btn btn-outline-secondary form-control">
                            Back To List
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}