@model DeleteCategoryDto

@{
    ViewData["Title"] = "Delete Category";
}

<div class="card shadow border-0 mt-4">
    <div class="card bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="DeleteAndSave" asp-controller="Category" asp-route-categoryId="@Model.CategoryId" method="post">
            <div class="p-3 mt-4">
                <div class="form-floating py-2 col-12">
                    <input asp-for="CategoryName" type="text" class="form-control border-0 shadow" />
                    <label asp-for="CategoryName" class="ms-2 disabled"></label>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="DisplayOrder" type="text" class="form-control border-0 shadow" />
                    <label asp-for="DisplayOrder" class="ms-2 disabled"></label>
                </div>

                <div class="row mt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>

                    <div class="col-6 col-md-3">
                        <a asp-action="Index" asp-controller="Category"
                           class="btn btn-secondary form-control">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


