@model UpdateCategoryDto

@{
    ViewData["Title"] = "Udpate Category";
}


<form asp-action="EditAndSave" asp-controller="Category" asp-route-categoryId="@Model.CategoryId" method="post">
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Category</h2>
            <hr />
            @* ModelOnly shows only the model error not related to any property *@
            @* <div asp-validation-summary="ModelOnly"></div> *@
        </div>

        @* in case if the primary key field is anything instead of Id *@
        @* <input asp-for="CategoryId"/> *@

        <div class="mb-3 row p-1">
            <label asp-for="CategoryName" class="p-0">Category Name</label>
            <input asp-for="CategoryName" type="text" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="DisplayOrder" class="p-0">Display Order</label>
            <input asp-for="DisplayOrder" type="number" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>

            <div class="col-6 col-md-3">
                <a asp-action="Index" asp-controller="Category"
                   class="btn btn-secondary form-control">
                    Back To List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        // <partial name="_ValidationScriptsPartial"></partial>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
