@{
    ViewData["Title"] = "About a Category";
}


<div class="card shadow border-0 mt-4">
    <div class="card bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Category Information</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <div class="row mb-3">
            <div class="col-2 fw-bold">
                Category Name
            </div>
            <div class="col-8">
                @Model.CategoryName
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-2 fw-bold">
                Display Order
            </div>
            <div class="col-8">
                @Model.DisplayOrder
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-6 col-md-3">
                <a asp-action="Edit"
                   asp-controller="Category"
                   asp-route-categoryId="@Model.CategoryId"
                   class="btn btn-warning form-control">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>
            </div>

            <div class="col-6 col-md-3">
                <a asp-action="Index"
                   asp-controller="Category"
                   class="btn btn-secondary form-control">
                    Back To List
                </a>
            </div>
        </div>

    </div>
</div>
